<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- 
  <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext.xml</param-value>
   </context-param>

   <listener> 컴퓨터가 동작하면 applicationContext.xml을 볼 수 있도록 해줌 
      <listener-class>
         org.springframework.web.context.ContextLoaderListener
      </listener-class> applicationContext.xml을 미리 읽는다
   </listener>
    -->
	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class><!-- springframework에서 기본적으로 제공하는 필터  -->
			<init-param>
				<param-name>encoding</param-name>
				<param-value>UTF-8</param-value>
			</init-param>
	</filter>

<filter-mapping>
	<filter-name>characterEncoding</filter-name>
	<url-pattern>*.do</url-pattern><!-- do할 때 UTF-8처리 해줘라 -->
</filter-mapping>

  <servlet>
    <servlet-name>action</servlet-name>
		<!--<servlet-class>com.seo.view.controller.DispatcherServlet</servlet-class> 처음 우리가 만든 DispatcherServlet를 사용함 --> 
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- springframework에서 제공하는 서블릿 -->   
  </servlet>
  
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern><!-- do가 실행되면 dispatcherServlet로 가라 -->
  </servlet-mapping>
	

	





</web-app>
